<template>
	<div class="contact-form">
		<h2 class="title">{{ title }}</h2>
		<form v-on:submit.prevent="sendForm">
			<form-feedback v-if="feedback.message" :feedback="feedback" />
			<div class="row mt-4">
				<div class="col-md-6">
					<div class="mb-4">
						<label for="fname" class="form-label form-label--white"
							>First name</label
						>
						<input
							type="text"
							class="form-control"
							id="fname"
							name="fname"
							v-model="formData.fname"
						/>
					</div>
				</div>
				<div class="col-md-6">
					<div class="mb-4">
						<label for="lname" class="form-label form-label--white"
							>Last name</label
						>
						<input
							type="text"
							class="form-control"
							id="lname"
							name="lname"
							v-model="formData.lname"
						/>
					</div>
				</div>
			</div>
			<div class="mb-4">
				<label for="email" class="form-label form-label--white"
					>Email address</label
				>
				<input
					type="email"
					class="form-control"
					id="email"
					name="email"
					v-model="formData.email"
				/>
			<div class="mt-4 mb-4">
				<label for="message" class="form-label form-label--white"
					>Your message</label
				>
				<textarea
					name="message"
					class="form-control"
					rows="6"
					v-model="formData.message"
				></textarea>
			</div>
			<div class="d-flex align-items-center checkbox-wrapper">
				<input
					type="checkbox"
					name="gdpr"
					id="gdpr"
					v-model="formData.gdpr"
				/>
				<label for="gdpr" class="form-label form-label--white mb-0 ml-2"
					>I agree to the
					<a :href="privacyPolicyUrl" target="_blank">privacy policy</a>
					of this website
				</label>
			</div>
			</div>
			<div v-if="!sending" class="d-flex justify-content-center mt-8">
				<button type="submit" class="btn btn--primary h-center">Send Message</button>
			</div>
			<loader v-else></loader>
		</form>
	</div>
</template>

<script>
import axios from 'axios'

export default {
	props: {
		title: {
			required: false,
			type: String,
		},
	},
	data() {
		return {
			feedback: {
				message: '',
				context: '',
				errors: [],
			},
			formData: {
				fname: '',
				lname: '',
				email: '',
				message: '',
				gdpr: false,
			},
			sending: false,
			// eslint-disable-next-line no-undef
			privacyPolicyUrl: SiteSettings.privacyPolicyUrl,
		}
	},
	methods: {
		sendForm() {
			if (this.sending) return

			this.sending = true

			axios
				.post('/wp-json/bedepo/contact', this.formData)
				.then(res => {
					console.log(res)
					this.feedback.context = 'success'
					this.feedback.errors = res.data.errors
					this.feedback.message = res.data.message
					this.sending = false
					this.resetForm()
				})
				.catch(err => {
					console.log(err)
					this.feedback.context = 'danger'
					this.feedback.errors = err.response.data.errors
					this.feedback.message = err.response.data.message
					this.sending = false
				})

		},
		resetForm() {
			this.formData.fname = ''
			this.formData.lname = ''
			this.formData.email = ''
			this.formData.message = ''
			this.formData.gdpr = false
		},
	},
}
</script>
