<template>
	<div class="inquery">
		<button class="btn btn--primary" @click="openModal">Contact us</button>
		<transition name="fade">
			<div v-if="showModal" class="cstm-modal">
				<div @click="closeForm" class="cstm-modal__background"></div>
				<div class="cstm-modal__content">
					<div class="cstm-modal-content">
						<form v-on:submit.prevent="sendForm">
							<h2 class="title text-center">Tell us you're interested</h2>
							<h3 class="subtitle text-center pb-6">Contact us to buy this animal</h3>
							<form-feedback v-if="feedback.message" :feedback="feedback" />
							<div class="row pb-6">
								<div class="col-md-6">
									<div class="d-flex flex-column">
										<label for="form-label form-label--white">Name</label>
										<input class="form-control" type="text" v-model="formData.name">
									</div>
								</div>
								<div class="col-md-6">
									<div class="d-flex flex-column">
										<label for="form-label form-label--white">Email</label>
										<input class="form-control" type="text" v-model="formData.email">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-12">
									<div class="d-flex flex-column">
										<label for="form-label form-label--white">Message</label>
										<textarea class="form-control" type="text" v-model="formData.message" rows="6"></textarea>
									</div>
								</div>
							</div>
							<div class="row">
								<input v-if="!sending" type="submit" class="btn btn--primary mt-6 mx-auto" value="Send">
								<loader v-else></loader>
							</div>
						</form>
					</div>
				</div>
			</div>
		</transition>
	</div>
</template>

<script>
import axios from 'axios'

export default {
	props: {
		animal: {
			required: true,
			type: String,
		},
	},
	data() {
		return {
			feedback: {
				message: '',
				context: '',
				errors: [],
			},
			formData: {
				name: '',
				email: '',
				message: '',
				animal: this.animal,
				animalUrl: window.location,
			},
			sending: false,
			showModal: false,
		}
	},
	methods: {
		openModal() {
			this.showModal = true
		},
		sendForm() {
			if (this.sending) return

			this.sending = true

			axios
				.post('/wp-json/bedepo/product-inquery', this.formData)
				.then(res => {
					console.log(res)
					this.feedback.context = 'success'
					this.feedback.errors = res.data.errors
					this.feedback.message = res.data.message
					this.sending = false
					this.resetForm()
				})
				.catch(err => {
					console.log(err)
					this.feedback.context = 'danger'
					this.feedback.errors = err.response.data.errors
					this.feedback.message = err.response.data.message
					this.sending = false
				})

		},
		resetForm() {
			this.formData.name = ''
			this.formData.email = ''
			this.formData.message = ''
		},
        closeForm() {
            this.showModal = false
        },
	},
}
</script>
