.contact-form {

	&__wrapper {
		position: relative;
	}

	.content {
		padding: 4rem;

		&__wrapper {
			position: absolute;
			background-color: $primary;
			border-radius: .75rem;

			@media screen and (max-width: 768px) {
				position: relative;
			}

		}

		&__title {
			color: $white;
			font-size: 2rem !important;
			margin-top: 0;
			font-weight: 700;
			margin-bottom: 2rem;
		}

		&__text {
			color: $white;
			font-size: 1rem;
			line-height: 2.125rem;

			h1,
			h2,
			h3,
			h4,
			h5,
			h6 {
				margin-top: 0;
				color: $white;
				font-size: 1.5rem !important;
				font-weight: 600;
			}

		}

	}

	&__form {
		margin-top: -3.5rem;
		z-index: 2;
		left: 50%;
		right: 0;
		background-color: $white;
		border-radius: .75rem;
		box-shadow: 0 4px 12px rgba(0, 0, 0, .06);

		@media screen and (max-width: 768px) {
			margin-top: -2.5rem;
		}

	}

	.registration {
		padding: 4rem;
	}

}
