.faq {

	.categories {
		border-radius: .5rem;

		@media screen and (max-width: 768px) {
			margin-bottom: 2rem;
		}

		&__category {
			font-size: .875rem;
			font-weight: 400;
			padding: .5rem .75rem;
			background-color: $subtle;
			transition: all .22s ease-out;
			cursor: pointer;

			&:first-child {
				border-top-left-radius: .5rem;
				border-top-right-radius: .5rem;
			}

			&:last-child {
				border-bottom-left-radius: .5rem;
				border-bottom-right-radius: .5rem;
			}

			&:hover {
				background-color: $gray-100;
			}

			&.active {
				font-weight: 600;
			}

		}

	}

	.questions {
		position: relative;

		.question {
			margin-bottom: 1rem;
			user-select: none;

			&__question {
				color: white;
				padding: .75rem;
				border-radius: .35rem;
				cursor: pointer;
				background-color: $primary-600;
				transition: all .22s ease-out;

				&:hover {
					background-color: $primary-600;
				}

			}

			&__answer {
				background-color: $subtle;
				padding: 1rem .75rem;
				font-size: .875rem;
				color: $gray-600;
				line-height: 1.65rem;
				border-bottom-left-radius: .5rem;
				border-bottom-right-radius: .5rem;

				img {
					display: block;
					margin-bottom: 1.5rem;
				}

			}

			&.active {

				.question__question {
					border-bottom-left-radius: 0;
					border-bottom-right-radius: 0;
				}

			}

		}

	}

}
