.top-pairs__wrapper {
    display: flex;
    @media screen and (max-width: 900px) {
        flex-direction: column;
    }

    .img__wrapper {
        position: relative;
        height: auto;
        width: 50%;
        @media screen and (max-width: 900px) {
            width: 100%;
            height: 450px;
        }

        .img {
            position: absolute;
            top: 0;
            left: 0;
            right: auto;
            bottom: auto;
            object-fit: cover;
            object-position: center center;
            width: 100%;
            height: 100%;
        }

    }

    .top-pairs {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        @media screen and (max-width: 900px) {
            width: 100%;
        }

        &--title {
            font-family: $title-font;
			font-weight: 700;
            font-size: 2rem;
            line-height: 2.6875rem;
            color: $dark;
            text-align: left;
            margin-bottom: 4rem;
        }

        .top-pair {
            display: flex;
            align-items: flex-start;
            margin-bottom: 50px;

            &--number {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 3rem;
                width: 3rem;
                margin-right: 25px;
                font-size: 1.25rem;
                font-weight: 600;
                line-height: 6.5rem;
                color: $white;

                &.pair-1 {
                    background-color: transparentize($color: $primary, $amount: 0);
                }

                &.pair-2 {
                    background-color: transparentize($color: $primary, $amount: .25);
                }

                &.pair-3 {
                    background-color: transparentize($color: $primary, $amount: .67);
                }

                // Line
                &::after {
                    content: '';
                    position: absolute;
                    left: auto;
                    top: 0;
                    right: 0;
                    bottom: auto;
                    width: 1px;
                    height: 120%;
                    margin-top: 100%;
                    background-color: $gray-200;
                }

            }

            &__info {
                margin-right: 35px;

                &--title {
                    font-size: 1rem;
                    font-weight: 600;
                    color: $dark;
                }

                &--price {
                    color: $primary;
                    font-size: .875rem;
                    font-weight: 400;
                }

                &--desc {
                    font-size: .875rem;
                    font-weight: 400;
                    line-height: 1.625rem;
					color: $body;
                    width: 200px;
                }

            }

            &--img {
                position: relative;
                width: 100px;
                height: auto;
                @media screen and (max-width: 767px) {
                    display: none;
                }

                .img {
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                }

            }

        }

    }

}
