.gallery {

	&__image {
		position: relative;
		cursor: pointer;
		height: 17.5rem;
		margin-bottom: .5rem;

		img {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center center;
		}

	}

	img {
		border-radius: .5rem;
	}

}
