.hero-header {
	position: relative;

	.text {
		margin-bottom: 3rem;
	}

	&__image {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		width: 60%;
		height: 100%;

		@media screen and (max-width: 768px) {
			position: relative;
			height: 25rem;
			width: 100%;
		}

		img {
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center center;
		}

	}

}
