.image-w-content {

	.title {
		margin-bottom: 2.25rem;
	}

	.content {

		.text {
			font-weight: 300;
			margin-bottom: 2.625rem;
		}

	}

	.image {
		position: relative;
		height: 100%;
		width: 100%;
		border-radius: .5rem;
		overflow: hidden;

		@media screen and (max-width: 768px) {
			margin-top: 1.5rem;
			height: 20rem;
		}

		img {
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center center;
		}

	}

}
