.parents {

    .parent-image {
        height: 25.75rem;
        overflow: hidden;
        position: relative;
        border-radius: .9375rem;

        img {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center center;
        }

    }

}
