.social-media-banner {

	.title {
		margin-bottom: 1.8rem;
	}

	.socials {
		display: flex;
		justify-content: center;

		.social-media {
			display: flex;
			padding-left: 0;

			li {
				display: flex;
				justify-content: center;
				align-items: center;
				height: 2.6875rem;
				width: 2.6875rem;
				background-color: $primary;
				border-radius: 50%;
				margin-right: .75rem;
				transition: all .22s ease-out;
				cursor: pointer;

				&:last-child {
					margin-right: 0;
				}

				&:hover {
					background-color: transparentize($color: $primary, $amount: .15);
					transform: translateY(-.125rem);
				}

				i {
					color: white;
				}

				svg {
					path {
						fill: white;
					}
				}

			}

		}

	}

}
