.text-section {

	.text {
		font-size: 1.125rem;

		p {
			color: $gray-500 !important;
			margin-bottom: 3.25rem;
		}

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			color: black;
			font-weight: 700;
			margin-bottom: 3.25rem;
			font-family: $title-font;
		}

		h2 {
			font-size: 1.75rem;
		}

		h3 {
			font-size: 1.375rem;
		}

	}

}
