.animal-content {
	background: linear-gradient(180deg,$subtle 6rem, white 0);

	.image__image {
		@media screen and (max-width: 768px) {
			width: 100%;
			height: auto;
		}

		img {
			@media screen and (max-width: 768px) {
				position: relative;
				object-fit: unset;
			}
		}

	}

	&__sidebar {
        position: sticky;
        top: 2rem;

		.animal-sidebar {
			background-color: white;
			border-bottom-left-radius: .5rem;
			border-bottom-right-radius: .5rem;
			box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, .08);

			&__image {
				position: relative;
				height: 12.5rem;
				width: 100%;

				img {
					position: absolute;
					top: 0;
					left: 0;
					bottom: 0;
					right: 0;
					width: 100%;
					height: 100%;
					object-fit: cover;
					border-top-left-radius: .5rem;
					border-top-right-radius: .5rem;
					object-position: center center;
				}

			}

		}

    }

}
