.footer {
    font-size: .875rem;

    a {
        color: $body;
        text-decoration: none;

        &:hover {
            color: $body;
            text-decoration: underline;
        }
    }

    .footer__separator {
        height: 1px;
        background-color: $border;
    }

    .footer__prefooter {
        line-height: 2.25;

        h4 {
            font-size: 1rem !important;
            margin-top: 0 !important;
			font-family: $title-font;
			font-weight: 700;
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;

			li {
				font-family: $body-font;
			}

            ul {
                padding-left: 1rem;
            }

        }
    }

    .footer__copyright {
        padding: 2rem 0;
		font-family: $title-font;
    }
}
