// stylelint-disable
.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;
}

.header {

	.brand {
		&__img {
			position: relative;
			width: 9rem;
			height: 7.5rem;

			img {
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				height: 100%;
				width: 100%;
			}

		}
	}

	.top-header {
		padding: .5rem 0;
		background-color: $subtle;

		li {
			margin: 0 .5rem;
			font-size: .875rem;

			&:last-child {
				margin-right: 0;
			}

			a {
				font-family: $body-font;
				font-weight: 400;
				text-decoration: none;
				transition: all .22s ease-out;
				color: transparentize($color: $body, $amount: .15);

				&:hover {
					color: transparentize($color: black, $amount: .25);
				}

			}

		}

	}

	.primary-header {
		padding: 0;

		.nav-primary {

			li {
				margin: 0 1rem;

				&:last-child {
					margin-right: 0;
				}

				&.current-menu-item {
					a {
						font-weight: 700;
						color: $primary-500;
					}
				}

				a {
					font-family: $body-font;
					font-weight: 400;
					text-decoration: none;
					transition: all .22s ease-out;
					color: transparentize($color: $body, $amount: .15);

					&:hover {
						color: transparentize($color: black, $amount: .25);
					}

				}

			}

		}


		.mobile-nav {
			margin-left: auto;

			&__toggler {
				width: 2rem;
				height: 2rem;
				display: flex;
				justify-content: flex-end;
				flex-direction: column;
				align-items: flex-end;
				margin-left: auto;
				user-select: none;
				outline: none;
				cursor: pointer;

				@media screen and (min-width: 1035px) {
					display: none;
				}

				&:hover {
					.line:last-child {
						width: 30px;
					}
				}

				.line:first-child {
					margin-top: 0;
				}

				.line {
					width: 1.875rem;
					height: .25rem;
					background-color: $gray-800;
					margin-bottom: 5px;
					transition: all .22s ease-out;
				}

				.line:last-child {
					width: 1.125rem;
					margin-bottom: 0;
					margin-left: auto;
				}

			}

			&__close {
				position: absolute;
				top: 5%;
				right: 5%;
				width: 1.5rem;
				height: 1.5rem;
				cursor: pointer;

				svg {
					width: 100%;
					height: 100%;
				}

			}

			&__navigation {
				position: fixed;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				z-index: 100;
				background-color: white;
				transform: translateY(-100%);
				transition: all .22s ease-out;

				&.active {
					display: block;
					transform: translateY(0);
				}

				.nav-items {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);

					ul {
						display: flex;
						flex-direction: column;

						li {
							font-size: 2.5rem;
							font-weight: 700;
							text-align: center;
							margin-bottom: 1rem;

							&.current-menu-item {
								a {
									color: $primary-500;
								}
							}

							a {
								color: $gray-400;
								text-decoration: none;

								&:hover {
									color: $primary-500;
								}

							}

						}

					}

				}

			}

		}

	}

}
