.pair {

	&__image {
		position: relative;
		height: 25rem;

		img {
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: .75rem;
			object-position: center center;
		}

	}

}
