.big-title {
	font-family: $title-font;
	font-weight: 900;
	color: $primary;
	text-transform: uppercase;
	margin-bottom: 2rem;
}

.title {
	font-size: 1.75rem;
	font-weight: 700;
	font-family: $title-font;
}

.primary-title {
	color: $primary;
	font-weight: 400;
	font-size: .875rem;
	margin-bottom: 1rem;
	text-transform: uppercase;
}

.parent-gender {
	color: $primary;
	font-weight: 700;
	font-size: 1.5rem;
	font-family: $title-font;
}

.subtitle {
    font-size: .875rem;
    padding: .25rem 0;
	font-weight: 300;
}

.sidebar-title {
	font-weight: 700;
	font-size: .875rem;
}
