<template>
	<div class="row">
		<div v-if="!fetching" class="col-xl-2 col-lg-2 col-md-2">
			<div class="categories">
				<div @click="fetchPosts(category)" class="categories__category" v-for="category in faqCategories" :key="category.ID" :class="checkActiveClass(category.cat_ID)">{{ category.name }}</div>
			</div>
		</div>
		<div v-if="!fetching" class="offset-md-2 offset-lg-2 offset-xl-2 col-xl-8 col-lg-8 col-md-8">
			<div class="questions">
				<transition name="fade">
					<div v-if="sending" class="loading-overlay d-flex justify-content-center align-items-center">
						<div class="title">We're fetching the FAQs...</div>
					</div>
				</transition>
				<div v-for="post in posts" :key="post.ID" class="q-and-a">
					<div class="question" :class="checkQuestionActiveClass(post.ID)">
						<div @click="setCurrentQuestion(post)" class="question__question">
							{{ post.post_title }}
						</div>
						<slide-up-down :active="currentQuestion.post_title == post.post_title" :duration="1000">
							<div class="question__answer" v-html="post.post_content">
							</div>
						</slide-up-down>
					</div>
				</div>
			</div>
		</div>
		<loader v-if="fetching"></loader>
	</div>
</template>

<script>
import axios from 'axios'

export default {
	props: {
		categories: {
			default: null,
			type: [Object, null],
		},
	},
	data() {
		return {
			sending: false,
			fetching: false,
			posts: [],
			currentQuestion: {},
			currentCategory: {},
			faqCategories: this.categories,
		}
	},
	methods: {
		fetchCategories() {
			if (this.categories || this.fetching) return

			this.fetching = true

			axios
				.get('/wp-json/bedepo/getCategories')
				.then((res) => {
					console.log(res.data)
					this.faqCategories = res.data
					this.fetching = false
					this.setFirstCategoryAsCurrentCategory()
				})
				.catch((err) => {
					console.log(err)
					this.fetching = false
				})

		},
		fetchPosts(category) {
			if (this.sending) return

			const categoryId = category.term_id

			this.sending = true

			this.currentCategory = category

			axios
				.post('/wp-json/bedepo/getCategoryPost/', {id: categoryId})
				.then((res) => {
					this.posts = res.data;
					this.sending = false;
				})
				.catch((err) => {
					console.log(err);
					this.sending = false;
				});
		},
		setFirstCategoryAsCurrentCategory() {
			this.currentCategory = this.faqCategories[0]
			this.fetchPosts(this.faqCategories[0])
		},
		setCurrentQuestion(question) {
			if (this.currentQuestion.ID == question.ID) {
				this.currentQuestion = {}
				return
			}
			this.currentQuestion = question;
		},
		setFirstCategoryActive() {
			const menuCategories = document.getElementsByClassName('categories__category');
			const firstMenuCategory = menuCategories[0];

			firstMenuCategory.classList.add('active');

		},
		checkActiveClass(id) {
			if (this.currentCategory.cat_ID == id) {
				return 'active'
			}
		},
		checkQuestionActiveClass(id) {
			if (this.currentQuestion.ID == id) {
				return 'active'
			}
		},
	},
	mounted() {
		if (this.categories) {
			this.fetchPosts(this.categories[0].term_id);
			this.setFirstCategoryActive();
		} else {
			this.fetchCategories()
		}
	},
}
</script>
