<template>
    <div>
        <div class="row">
			<div
				v-for="(filter, i) in filters"
				:key="i"
				class="col-md-3"
			>
				<div class="product-filter mb-4">
					<product-filter
						:filter-label="filter.name"
						:slug="filter.slug"
						:options="filter.options"
						:start-filter="startFilter"
						@updated="updateFilters"
					/>
				</div>
			</div>
		</div>

    </div>
</template>

<script>
import axios from 'axios'

export default {
    props: {
        startFilter: {
            type: [Object, null],
            default() {
                return null
            },
        },
    },
    data() {
        return {
            filters: null,
            chosenFilters: {},
            fetching: false,
        }
    },
    mounted() {
        this.fetchFilters()
    },
    methods: {
        fetchFilters() {
            this.fetching = true

            if (!this.fetching) return

            axios
                .get('/wp-json/bedepo/products/filters')
                .then((res) => {
					console.log(res.data)
                    this.filters = res.data
                })
                .catch((err) => {
                    console.log(err)
                    // TODO: Handle error
                })
        },
        updateFilters(payload) {
            if (payload.selection) {
                this.chosenFilters[payload.slug] = payload.selection
            } else {
                if (this.chosenFilters.hasOwnProperty(payload.slug)) {
                    delete this.chosenFilters[payload.slug]
                }
            }
            this.$emit('filters-updated', this.chosenFilters)
        },
    },
}
</script>
