<template>
	<div class="dropdown">
		<button class="btn btn-secondary dropdown-toggle w-100" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
			{{ label }}
		</button>
		<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
			<div class="filter-list">
				<ul class="filters">
					<li
						v-for="(option, r) in options"
						:key="r"
						:value="option.slug"
						class="filters__filter"
						:class="selection == option.slug ? 'active' : ''"
						@click="selectOption(option.slug)"
					>
						{{ option.name }}
					</li>
				</ul>
			</div>
		</ul>
	</div>
</template>

<script>
export default {
    props: {
        filterLabel: {
            type: String,
            default() {
                return ''
            },
        },
        slug: {
            type: String,
            default() {
                return ''
            },
        },
        startFilter: {
            type: [Object, null],
            default() {
                return null
            },
        },
        options: {
            type: Array,
            default() {
                return []
            },
        },
    },
    data() {
        return {
            selection: null,
            filterSelected: false,
        }
    },
    mounted() {
        if (this.startFilter && this.startFilter[this.slug]) {
            this.selection = this.startFilter[this.slug]
        }
    },
    computed: {
        label() {
            if (!this.selection || !this.options) {
				console.log('test')
                return this.filterLabel
            }

            const selectedOption = this.options.find((option) => {
                return option.slug == this.selection
            })

            if (!selectedOption) {
                return this.filterLabel
            }

            return selectedOption.name
        },
    },
    methods: {
        selectOption(option) {
            this.filterSelected = true
            if (this.selection == option) {
            	this.selection = null
                this.$emit('updated', {
                    slug: this.slug,
                    selection: null,
                })
                return
            }
            this.selection = option

            this.$emit('updated', {
                slug: this.slug,
                selection: this.selection,
            })
        },
    },
}
</script>
