<template>
    <div v-if="product" class="product-preview">
        <a :href="product.url" class="product-link">
            <div class="product__image">
				<div v-if="product.label" class="product__label">{{ product.label }}</div>
                <img :src="product.thumbnail" :alt="product.title" loading="lazy" />
            </div>
            <div class="product__description">
                <div class="text-base product-preview__description__title">
					<div class="d-flex align-items-center justify-content-between">
                    	<h2 class="product__title">{{ product.title }}</h2>
						<p v-if="product.sale_price" class="product__price">€ {{ parseFloat(product.sale_price).toFixed(2) }}</p>
						<p v-else class="product__price">€ {{ parseFloat(product.regular_price).toFixed(2) }}</p>
					</div>
					<div class="d-flex align-items-center justify-content-between">
						<p class="product__species">{{ product.sex ? product.sex : '' }}</p>
						<p v-if="product.sale_price" class="product__price on-sale">€ {{ parseFloat(product.regular_price).toFixed(2) }}</p>
					</div>
					<div class="product__excerpt text">{{ 175 >= product.excerpt.length
                            ? product.excerpt
                            : product.excerpt.substring(0, 175) + '...' }}</div>
                </div>
            </div>
        </a>
    </div>
</template>

<script>
export default {
    props: {
        product: {
            type: [Object, null],
            default() {
                return null
            },
        },
    },
}
</script>
