<template>
    <div class="pb-md">
			<!-- Filters -->
			<product-filters
				@filters-updated="filtersUpdated"
				:start-filter="startFilter"
			/>

			<!-- End Filters -->
			<!-- <div class="flex__wrapper ml-auto">
				<select
					class="btn-select btn-select--small dropdown-toggle mb-4"
					name=""
					v-model="sort"
				>
					<option value="a-z">Alfabetisch oplopend</option>
					<option value="z-a">Alfabetisch aflopend</option>
					<option value="price-asc">Prijs oplopend</option>
					<option value="price-desc">Prijs aflopend</option>
				</select>
			</div> -->

			<!-- Products Overview -->
			<div class="row ">

				<!-- Loader -->
				<loader class="mt-6" v-if="this.fetching"></loader>
					<p v-if="fetching" class="text-center text">Fetching our animals...</p>
				<!-- End Loader -->

				<div
					v-for="(product, i) in products"
					:key="i"
					class="col-lg-3 mt-4 mb-4"
				>
					<!-- Product -->
					<product-preview :product="product" />
					<!-- End Product -->
				</div>
			</div>
			<!-- End Products Overview -->

			<!-- Load More -->
			<button
				v-if="enableLoadMore"
				class="btn load-more"
				@click.prevent="page++"
			>
				More animals
			</button>
			<!-- End Load More -->
		</div>
</template>

<script>
import axios from 'axios'

export default {
    props: {
        startFilter: {
            type: [Object, null],
            default() {
                return null
            },
        },
    },
    data() {
        return {
            products: [],
            filters: null,
            page: 1,
            enableLoadMore: true,
            fetching: false,
            sort: 'a-z',
        }
    },
    watch: {
        page() {
            this.fetchProducts()
        },
        sort() {
            this.fetchProducts()
        },
    },
    mounted() {
        this.filters = this.startFilter
        this.fetchProducts()
    },
    methods: {
        fetchProducts() {
            if (this.fetching) return

            this.fetching = true

            axios
                .post('/wp-json/bedepo/products', {
                    filters: this.filters,
                    sort: this.sort,
                    page: this.page,
                })
                .then((res) => {
                    if (res.data.length == 0 || res.data.length < 20) {
                        this.enableLoadMore = false
                    }

                    this.products = []
                    res.data.forEach((product) => {
                        this.products.push(product)
                    })

                    this.fetching = false
                })
                .catch((err) => {
                    console.log(err)
                    this.fetching = false
                })
        },
        filtersUpdated(payload) {
            this.filters = payload
            this.products = []
            this.page = 1
            this.enableLoadMore = true
            this.fetchProducts()
        },
    },
}
</script>
