.alert {

    &-danger {
        color: $danger-600;
        border: 1px solid $danger-200;
        background-color: $danger-100;
    }

    &-success {
        color: $success-600;
        border: 1px solid $success-200;
        background-color: $success-100;
    }

}
