.bg-subtle {
	background-color: $subtle;
}

.bg-subtle-white {
	background: linear-gradient(180deg, $subtle 50%, $white 50%);
}

.bg-white-subtle {
	background: linear-gradient(0deg, $subtle 50%, $white 50%);
}
