.breadcrumbs {
    display: flex;
    padding: 0;
    margin: 0;

    li {
        list-style-type: none;

        a {
            color: $gray-500;
            font-size: .875rem;
            text-decoration: none;
            transition: all .22s ease-out;

            &:hover {
                color: $gray-600;
            }

        }

        strong {
            font-size: .875rem;
            color: black;
            font-weight: 400;
        }

    }

    .separator {
        margin: 0 .875rem;
    }

}
