.btn {
	font-family: $title-font;
	border-radius: 12rem;
	padding: .625rem 2.375rem;
	font-weight: 700;
	color: white;
	transition: all .22s ease-out;

	&--primary {
		background-color: $primary;

		&:hover {
			color: white;
			transform: translateY(-.125rem);
			background-color: transparentize($color: $primary, $amount: .125);
		}

	}

}
