.dropdown {
	button {
		color: $gray-500;
		border: 1px solid transparentize($color: $gray-500, $amount: .75);
	}

	.dropdown-menu {
		width: 100%;
		border-radius: .5rem;
		margin-top: 1rem;
		border: none;
		box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);

		ul {
			padding: 0;

			li {
				font-size: .875rem;
				color: $body;
				cursor: pointer;
				list-style-type: none;
				padding: .5rem .75rem;
				transition: all .22s ease-out;

				&:hover{
					background-color: $subtle;
					color: black;
				}

			}

		}

	}

}
