// stylelint-disable
.search-form .search-field {
  @extend .form-control;
}

.search-form .search-submit {
  @extend .btn;
}

form,
.form {

	&__description {
        width: 75%;
        color: $gray-400;
        line-height: 2.125rem;
        font-size: 1rem;
    }

    .form-control {
        border-radius: .25rem;
        height: auto;
        border: 1px solid transparentize($color: $dark, $amount: .75);
        padding: .75rem;
		font-size: .875rem;
    }

	.checkbox-wrapper {
		label {
			font-size: .875rem;
		}
	}

	label,
    .form-label {
        font-size: 1rem;
        font-weight: 500;
        color: $dark !important;
		font-family: $title-font;
		font-weight: 600;
		margin-bottom: .5rem;
		font-size: .875rem;

        a {
            color: $primary !important;
            text-decoration: underline;
        }

        &.form-label--white {
            color: $white;

            a {
                color: $white;
            }
        }
    }

}
