.cstm-modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .25);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;

    &__content {
        padding: 2.5rem 3rem;
        max-width: 90%;
        max-height: 90vh;
        overflow-y: overlay;
        width: 53.125rem;
        background-color: white;
        border-radius: 8px;
        z-index: 110;
    }

    &__background {
         position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(0,0,0,0.1);
        z-index: 95;
    }

}
