.post-preview {
	height: 100%;
    border-radius: .75rem;
	background-color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .06);

	&__image {
		position: relative;
		height: 15rem;

		img {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: .5rem;
			border-bottom-right-radius: 5.5rem;
			object-position: center center;
		}

	}

	.post-preview__content {
        padding: 2.5rem;

		a {
			text-decoration: none;
		}

		.title {
			font-size: 1.25rem;
		}

		.text {
			font-size: .875rem;
		}

    }

}
