.product-preview {
	@media screen and (max-width: 991px) {
		margin-bottom: 2rem;
	}

	a {
		text-decoration: none;
	}

	.product {

		&__label {
			position: absolute;
			top: .375rem;
			left: .375rem;
			padding: .375rem .75rem;
			border-radius: .5rem;
			font-family: $body-font;
			font-size: .75rem;
			color: white;
			font-weight: 600;
			background-color: $primary;
			z-index: 2;
		}

		&__image {
			position: relative;
			height: 14.75rem;
			margin-bottom: 1rem;

			img {
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				height: 100%;
				width: 100%;
				object-fit: cover;
				object-position: center center;
				border-radius: .9375rem;
			}

		}

		&__description {
			padding: 0 .75rem;
		}

		&__title {
			font-size: 1.125rem;
			font-family: $title-font;
			color: $dark;
			font-weight: 700;
			margin-bottom: .5rem;
		}

		&__species {
			font-size: .75rem;
			color: $primary;
			font-weight: 400;
			font-family: $title-font;
			margin-bottom: .5rem;
		}

		&__excerpt {
			font-size: .825rem;
			font-weight: 300;
		}

		&__price {
			font-family: $title-font;
			color: $primary;
			font-size: 1rem;
			font-weight: 900;
			margin-bottom: .5rem;
			min-width: 5rem;
			text-align: right;

			&.on-sale {
				text-decoration: line-through;
				font-size: .875rem;
			}

		}

		&__add-to-cart {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 1.75rem;
			height: 1.75rem;
			border-radius: 50%;
			background-color: $primary;
		}

	}

}
