.social-media {
    display: flex;
    margin: 0 -.5rem;
    padding: 0;
    list-style-type: none;

    li {
        padding: 0 .5rem;

        a {
            color: $dark;
            text-decoration: none;
            font-size: 1.25rem;
            transition: all .15s ease-in-out;
        }
    }

    &:hover {
        li {
            a {
                color: $body;

                &:hover {
                    color: $dark;
                }
            }
        }
    }
}
