<template>
	<div class="dropdown">
		<button class="btn btn-secondary dropdown-toggle" type="button" id="productOrdering" data-bs-toggle="dropdown" aria-expanded="false">
			Dropdown button
		</button>
		<ul class="dropdown-menu" aria-labelledby="productOrdering">
			<li v-for="item in menuItems" :key="item.id">{{ item }}</li>
		</ul>
	</div>
</template>

<script>
export default {
	props: {
		menuItems: {
			required: true,
			type: [Array, Object],
		},
	},
}
</script>
