.woocommerce-ordering {

	.orderby {
		height: 3.5rem;
		border-radius: 1rem;
		border: 1px solid transparentize($color: $gray-500, $amount: .75);
		padding: 0 1.5rem;
		color: $gray-500;
		font-size: .875rem;
		font-family: $body-font;
		letter-spacing: 0.0125rem;
	}

}
