// stylelint-disable
.woocommerce-breadcrumb {
	display: none;
}

.single-product {
	position: relative;

	.gray-banner {
		position: absolute;
		left: 0;
		right: 0;
		z-index: -1;
		height: 18.375rem;
		background-color: $subtle;
	}

	.product-price-label {
		color: $primary;
		font-weight: 700;
		font-size: 1rem;
		font-family: $title-font;
	}

	.woocommerce-product-attributes {

		&-item {
			border-top: unset !important;
			border-bottom: 1px solid $border;

			th,
			td {
				padding: .675rem 0 !important;
				background: unset !important;
				background-color: unset !important;
			}

			th {
				font-family: $body-font;
				font-size: .875rem;
				font-size: 700;
			}

			td {

				p {
					font-size: .875rem;
					font-weight: 300;
					font-family: $body-font;
					color: $body;
					font-style: initial !important;
				}

			}

		}

	}

	&__image {
		position: relative;
		min-height: 23.2rem;
		width: 100%;

		@media screen and (max-width: 991px) {
			margin-bottom: 1rem;
		}

		img {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: .875rem;
			object-position: center center;
		}

		&--gallery {
			border-radius: .625rem;
		}

	}

	.product-gallery {
		padding-left: 1rem;

		@media screen and (max-width: 991px) {
			margin-bottom: 1rem;
		}

		&__image {
			width: 8rem;
			height: 8rem;
			margin-bottom: 1rem;
			border-radius: .5rem;

			&.big-image {
				width: 100%;
				height: 100%;
			}

			&:hover {
				cursor: pointer;
			}

			&:last-child {
				margin-bottom: 0;
			}

			&--small {
				@media screen and (max-width: 768px) {
					width: 31%;
				}

				.product-gallery__image {
					margin-right: 0;
					width: 100%;
				}

				img {
					object-fit: cover;
					width: 100%;
				}

			}

		}

	}

	.offspring {

		&__image {
			height: 16.875rem;
			overflow: hidden;
			position: relative;
			border-radius: .875rem;

			img {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: center center;
			}

		}

	}

}
