.position-unset {
	position: unset !important;
}

.hide-mobile {
	@media screen and (max-width: 768px) {
		display: none;
	}
}

.m-column-reverse {
	@media screen and (max-width: 991px) {
		flex-direction: column-reverse !important;
	}
}

.t-flex-direction-column {
	@media screen and (max-width: 991px) {
		flex-direction: column !important;
	}
}

.t-flex-direction-row {
	@media screen and (max-width: 991px) {
		flex-direction: row !important;
	}
}

.t-justify-content-space-between {
	@media screen and (max-width: 991px) {
		justify-content: space-between !important;
	}
}

.t-flex-direction-column-reverse {
	@media screen and (max-width: 991px) {
		flex-direction: column-reverse !important;
	}
}

.hide-tablet-up {
	@media screen and (min-width: 991px) {
		display: none;
	}
}

.md-pl-0 {
	@media screen and (max-width: 991px) {
		padding-left: 0 !important;
	}
}

.mw-100 {
	@media screen and (max-width: 768px) {
		width: 100% !important;
	}
}
