// stylelint-disable
@keyframes loader {
	0% { transform: translate(7.08px,47.199999999999996px) scale(0); }
 25% { transform: translate(7.08px,47.199999999999996px) scale(0); }
 50% { transform: translate(7.08px,47.199999999999996px) scale(1); }
 75% { transform: translate(47.199999999999996px,47.199999999999996px) scale(1); }
 100% { transform: translate(87.32px,47.199999999999996px) scale(1); }
}

@keyframes loader-r {
 0% { transform: translate(87.32px,47.199999999999996px) scale(1); }
 100% { transform: translate(87.32px,47.199999999999996px) scale(0); }
}

@keyframes loader-c {
 0% { background: #eedcdd }
 25% { background: #a85253 }
 50% { background: #b97575 }
 75% { background: #cb9798 }
 100% { background: #dcbaba }
}

.loader div {
 position: absolute;
 width: 23.599999999999998px;
 height: 23.599999999999998px;
 border-radius: 50%;
 transform: translate(47.199999999999996px,47.199999999999996px) scale(1);
 background: #c1ceff;
 animation: loader 1.7543859649122806s infinite cubic-bezier(0,0.5,0.5,1);
}

.loader div:nth-child(1) {
 background: #cb9798;
 transform: translate(87.32px,47.199999999999996px) scale(1);
 animation: loader-r 0.43859649122807015s infinite cubic-bezier(0,0.5,0.5,1), loader-c 1.7543859649122806s infinite step-start;
}.loader div:nth-child(2) {
 animation-delay: -0.43859649122807015s;
 background: #dcbaba;
}.loader div:nth-child(3) {
 animation-delay: -0.8771929824561403s;
 background: #cb9798;
}.loader div:nth-child(4) {
 animation-delay: -1.3157894736842104s;
 background: #b97575;
}.loader div:nth-child(5) {
 animation-delay: -1.7543859649122806s;
 background: #a85253;
}

.loadingio-spinner-ellipsis-x87w29py48i {
 width: 135px;
 height: 118px;
 display: block;
 overflow: hidden;
 background: none;
 margin-left: auto;
 margin-right: auto;
}

.loader {
 width: 100%;
 height: 100%;
 position: relative;
 transform: translateZ(0) scale(1);
 backface-visibility: hidden;
 transform-origin: 0 0;

 &::before {
	 display: none !important;
 }

}

.loader div { box-sizing: content-box; }

.loading-overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 25;
	background-color: transparentize($color: #fff, $amount: .25);
}
