$spaceamounts: (-12, -8, -6, -4, -2, 1, 2, 3, 4, 6, 8, 12, 16, 24, 32, 48, 64, 96, 128, 160, 192);
$margincategories: ("xl" : 32,
    "lg" : 24,
    "md" : 16,
    "sm" : 12,
    "xs" : 8,
    "-xl" : -32,
    "-lg" : -24,
    "-md" : -16,
    "-sm" : -12,
    "-xs" : -8,
);
$sides: (top, bottom, left, right);

@each $space in $spaceamounts {
    .w-#{$space} {
        width: #{$space/4}rem !important;
    }

    .h-#{$space} {
        width: #{$space/4}rem !important;
    }

    @each $side in $sides {
        .m#{str-slice($side, 0, 1)}-#{$space} {
            margin-#{$side}: #{$space/4}rem !important;
        }

        .p#{str-slice($side, 0, 1)}-#{$space} {
            padding-#{$side}: #{$space/4}rem !important;
        }

        .mx-#{$space} {
            margin-left: #{$space/4}rem !important;
            margin-right: #{$space/4}rem !important;
        }

        .my-#{$space} {
            margin-top: #{$space/4}rem !important;
            margin-bottom: #{$space/4}rem !important;
        }

        .px-#{$space} {
            padding-left: #{$space/4}rem !important;
            padding-right: #{$space/4}rem !important;
        }

        .py-#{$space} {
            padding-top: #{$space/4}rem !important;
            padding-bottom: #{$space/4}rem !important;
        }

        .p-#{$space} {
            padding-top: #{$space/4}rem !important;
            padding-bottom: #{$space/4}rem !important;
            padding-left: #{$space/4}rem !important;
            padding-right: #{$space/4}rem !important;
        }

        .m-#{$space} {
            margin-top: #{$space/4}rem !important;
            margin-bottom: #{$space/4}rem !important;
            margin-left: #{$space/4}rem !important;
            margin-right: #{$space/4}rem !important;
        }
    }
}

@each $name,
$value in $margincategories {
    @each $side in $sides {
        .m#{str-slice($side, 0, 1)}-#{$name} {
            margin-#{$side}: #{$value / 4}rem !important;

            @if $name !='xs' {
                @media screen and (max-width: 991.98px) {
                    margin-#{$side}: #{($value / 4) * 0.8}rem !important;
                }

                @media screen and (max-width: 764.98px) {
                    margin-#{$side}: #{($value / 4) * 0.6}rem !important;
                }
            }
        }

        .p#{str-slice($side, 0, 1)}-#{$name} {
            padding-#{$side}: #{$value / 4}rem !important;

            @if $name !='xs' {
                @media screen and (max-width: 991.98px) {
                    padding-#{$side}: #{($value / 4) * 0.75}rem !important;
                }

                @media screen and (max-width: 764.98px) {
                    padding-#{$side}: #{($value / 4) * 0.5}rem !important;
                }
            }
        }
    }
}
