// .fade-enter-active, .fade-leave-active {
// 	transition: opacity .5s;
// }
// .fade-enter, .fade-leave-to {
// 	opacity: 0;
// }

// .slide-enter-active, .slide-leave-active {
// 	transition: all .22s;
// }
// .slide-enter, .slide-leave-to {
// 	transform: translateX(100%);
// }

.slide-enter-active {
	-moz-transition-duration: 0.3s;
	-webkit-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-moz-transition-timing-function: ease-in;
	-webkit-transition-timing-function: ease-in;
	-o-transition-timing-function: ease-in;
	transition-timing-function: ease-in;
}

.slide-leave-active {
	-moz-transition-duration: 0.3s;
	-webkit-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
	-webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
	-o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.slide-enter-to, .slide-leave {
	max-height: 100px;
	overflow: hidden;
}

.slide-enter, .slide-leave-to {
	overflow: hidden;
	max-height: 0;
}

.fade-enter-active, .fade-leave-active {
	transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
	opacity: 0;
}

.slideleft-enter-active,
.slideleft-leave-active
{
    transition: transform 0.22s ease;
}

.slideleft-enter,
.slideleft-leave-to {
    transform: translateX(100%);
    transition: all .22s ease-in 0s
}
