/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-colors: (
  primary: #525ddc
);

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

$primary-900: #461316;
$primary-800: #52161a;
$primary-700: #5e1a1e;
$primary-600: #691d21;
$primary-500: #752025;
$primary-400: #83363b;
$primary-300: #914d51;
$primary-200: #ac797c;
$primary-100: #d6bcbe;

$danger-900: #541918;
$danger-800: #7F2626;
$danger-700: #AA3535;
$danger-600: #D44544;
$danger-500: #FF5655;
$danger-400: #FF7271;
$danger-300: #FF9493;
$danger-200: #FFBDBD;
$danger-100: #FFEDED;

$success-900: #163A17;
$success-800: #225724;
$success-700: #2F7331;
$success-600: #3C8F3F;
$success-500: #4AAA4D;
$success-400: #6BC36E;
$success-300: #90D993;
$success-200: #B9EBBB;
$success-100: #E5F9E6;

$danger: $danger-500;
$success: $success-500;

$teal: #67b5af;
$blue: #5fafed;
$orange: #ed9761;
$purple: #a17df0;
$pink: #eb7cb3;
$red: #ef6b81;
$green: #7bd181;


$dark: #333;

$gray-500: #a2a3a9;

$subtle: #f5f5f5;

$primary: $primary-500;

$border: $subtle;
$body: $gray-500;


$body-font: 'Nunito', sans-serif;
$title-font: 'Open Sans', sans-serif;
