<template>
    <div class="lightbox__wrapper">
        <div class="preview-image">
            <img class="product-gallery__image big-image" @click="toggler = !toggler" :src="previewImage" loading="lazy" />
        </div>
        <FsLightbox :toggler="toggler" :sources="sources" :sourceIndex="index" />
    </div>
</template>

<script>
import FsLightbox from 'fslightbox-vue'

export default {
    components: { FsLightbox },
    props: {
        sources: {
            required: false,
            type: [Array, null],
        },
        previewImage: {
            required: false,
            type: [String, null],
        },
		index: {
			required: true,
			type: [Number],
		},
    },
	computed: {
		imageSources() {
			const images = []

			this.sources.forEach(img => {
				images.push(img)
			})

			return images
		},
	},
    data() {
        return {
            toggler: false,
        }
    },
}
</script>
